supervision
transformers==4.38.2
nltk
lvis
h5py
einops
seaborn
fairscale
# git+ssh://git@github.com/openai/CLIP.git
# git+ssh://git@github.com/siyuanliii/TrackEval.git
# git+ssh://git@github.com/SysCV/tet.git#subdirectory=teta
# git+ssh://git@github.com/scalabel/scalabel.git@scalabel-evalAPI
# git+ssh://git@github.com/TAO-Dataset/tao.git
# git+ssh://git@github.com/lvis-dataset/lvis-api.git

# pip install git+https://github.com/openai/CLIP.git
# pip install git+https://github.com/siyuanliii/TrackEval.git
# pip install git+https://github.com/SysCV/tet.git#subdirectory=teta
# pip install git+https://github.com/scalabel/scalabel.git@scalabel-evalAPI
# pip install git+https://github.com/TAO-Dataset/tao.git
# pip install git+https://github.com/lvis-dataset/lvis-api.git
